<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>指尖天气</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>wechat</string>
		<string>weixin</string>
		<string>sinaweibohd</string>
		<string>sinaweibo</string>
		<string>sinaweibosso</string>
		<string>weibosdk</string>
		<string>weibosdk2.5</string>
		<string>mqqapi</string>
		<string>mqq</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqqconnect</string>
		<string>mqqopensdkdataline</string>
		<string>mqqopensdkgrouptribeshare</string>
		<string>mqqopensdkfriend</string>
		<string>mqqopensdkapi</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV3</string>
		<string>mqzoneopensdk</string>
		<string>wtloginmqq</string>
		<string>wtloginmqq2</string>
		<string>mqqwpa</string>
		<string>mqzone</string>
		<string>mqzonev2</string>
		<string>mqzoneshare</string>
		<string>wtloginqzone</string>
		<string>mqzonewx</string>
		<string>mqzoneopensdkapiV2</string>
		<string>mqzoneopensdkapi19</string>
		<string>mqzoneopensdkapi</string>
		<string>mqzoneopensdk</string>
		<string>alipay</string>
		<string>alipays</string>
		<string>alipayqr</string>
		<string>alipayshare</string>
		<string>pinduoduo</string>
		<string>youku</string>
		<string>tencent101022619</string>
		<string>changba</string>
		<string>openApp.jdMobile</string>
		<string>openapp.jdmobile</string>
		<string>jd</string>
		<string>wxef5b6333c715b7bd</string>
		<string>qiyi-iphone</string>
		<string>iqiyi</string>
		<string>tencent100294478</string>
		<string>QQ14AC1032</string>
		<string>tencent100385258</string>
		<string>tencentapi.qzone.reqContent</string>
		<string>sinaweibosso.3845915579</string>
		<string>sinaweibosso.422729959</string>
		<string>instagram</string>
		<string>QQ367B7700</string>
		<string>tencent100692648</string>
		<string>tencent100497308.content</string>
		<string>mtxx</string>
		<string>tencent205141</string>
		<string>myxj</string>
		<string>tencent100498506</string>
		<string>QQ6BF159C6</string>
		<string>sinaweibosso.1706388304</string>
		<string>wxb6c82517aa33d525</string>
		<string>yddictproapp</string>
		<string>youdaonote</string>
		<string>bdmap</string>
		<string>orpheus</string>
		<string>orpheuswidget</string>
		<string>wangyiyunketang</string>
		<string>mobilephone</string>
		<string>mobilenotes</string>
		<string>com.moke.moke-1</string>
		<string>camcard</string>
		<string>camscanner</string>
		<string>trainassist</string>
		<string>com.kingsoft.powerword.6</string>
		<string>tencentrm</string>
		<string>**</string>
		<string>comIfeng3GifengNews</string>
		<string>gtgj</string>
		<string>fetion</string>
		<string>doubanradio</string>
		<string>dzhiphone</string>
		<string>buka</string>
		<string>ppstream</string>
		<string>bilibili</string>
		<string>com.56Video</string>
		<string>rili365</string>
		<string>wbmain</string>
		<string>iaround</string>
		<string>momochat</string>
		<string>wangwangseller</string>
		<string>yddict</string>
		<string>youku</string>
		<string>iReader</string>
		<string>elongIPhone</string>
		<string>thunder</string>
		<string>wb1405365637</string>
		<string>CtripWireless</string>
		<string>SuZhouTV</string>
		<string>vipshop</string>
		<string>weishiiosscheme</string>
		<string>wpweipai</string>
		<string>wangxin</string>
		<string>ntesopen</string>
		<string>netease-mkey</string>
		<string>youloft.419805549</string>
		<string>tudou</string>
		<string>amihexin</string>
		<string>tianya</string>
		<string>sinaweatherpro</string>
		<string>sinaweather</string>
		<string>rm434209233MojiWeather</string>
		<string>qqnews</string>
		<string>weiyun</string>
		<string>sosomap</string>
		<string>taobaotravel</string>
		<string>renrenios</string>
		<string>renren</string>
		<string>wcc</string>
		<string>qtfmp</string>
		<string>wx1cb534bb13ba3dbd</string>
		<string>cmbmobilebank</string>
		<string>alipay</string>
		<string>wx2654d9155d70a468</string>
		<string>com.icbc.iphoneclient</string>
		<string>com.kuwo.kwmusic.kwmusicForKwsing</string>
		<string>kugouURL</string>
		<string>snssdk141</string>
		<string>qqmusic</string>
		<string>qqmail</string>
		<string>qq browser</string>
		<string>qqbrowser</string>
		<string>QQmusic</string>
		<string>tencent382</string>
		<string>mttbrowser</string>
		<string>qmtoken</string>
		<string>mqqiapi</string>
		<string>qqbizmailDistribute2</string>
		<string>pptv</string>
		<string>qiyi-iphone</string>
		<string>com.baofeng.play</string>
		<string>wb2217954495</string>
		<string>wb1308702128</string>
		<string>baidumusic</string>
		<string>bdbook</string>
		<string>bdboxiosqrcode</string>
		<string>baiduvideoiphone</string>
		<string>bdviphapp</string>
		<string>bainuo</string>
		<string>photowonder</string>
		<string>wondercamera</string>
		<string>baidumap</string>
		<string>bdNavi</string>
		<string>baiduboxapp</string>
		<string>BaiduSSO</string>
		<string>com.sogou.sogouinput</string>
		<string>sohuvideo-iphone</string>
		<string>sohuvideo</string>
		<string>sohunews</string>
		<string>FDMoney</string>
		<string>mqqsecure</string>
		<string>tenvideo</string>
		<string>tenvideo2</string>
		<string>tenvideo3</string>
		<string>TencentWeibo</string>
		<string>tmall</string>
		<string>tencent100689806</string>
		<string>tencent100689805</string>
		<string>tencent100692648</string>
		<string>tencent100695850</string>
		<string>ttpod</string>
		<string>wacai</string>
		<string>com.weiphone.forum</string>
		<string>weibo</string>
		<string>weibointernational</string>
		<string>neteasemail</string>
		<string>Autonavi</string>
		<string>BaiduIMShop</string>
		<string>com.baidu.tieba</string>
		<string>taobao</string>
		<string>wechat</string>
		<string>weixin</string>
		<string>baiduyun</string>
		<string>newsapp</string>
		<string>lofter</string>
		<string>iosamap</string>
		<string>smartisannotes</string>
		<string>KingsoftOfficeApp</string>
		<string>zhihu</string>
		<string>douban</string>
		<string>jianshu</string>
		<string>jike</string>
		<string>yilan</string>
		<string>zakeriphonepro</string>
		<string>eyepetizer</string>
		<string>imeituan</string>
		<string>meituanwaimai</string>
		<string>uber</string>
		<string>trainassistfree</string>
		<string>QihoocloudIphone</string>
		<string>diditaxi</string>
		<string>onetravel</string>
		<string>acfun</string>
		<string>ucbrowser</string>
		<string>clover-one</string>
		<string>evermemo</string>
		<string>dingtalk</string>
		<string>dianping</string>
		<string>cn.12306</string>
		<string>xiami</string>
		<string>mobike</string>
		<string>ofoapp</string>
		<string>googlechrome</string>
		<string>googlegmail</string>
		<string>evernote</string>
		<string>sinavdisk</string>
		<string>wccbyihaodian</string>
		<string>tunein</string>
		<string>tuneinpro</string>
		<string>mobisystemsofficesuite</string>
		<string>line</string>
		<string>onepassword</string>
		<string>clearapp</string>
		<string>calendars</string>
		<string>com.goodreader.sendtogr</string>
		<string>pdfexpert5presence</string>
		<string>rdocs</string>
		<string>nplayer-http</string>
		<string>gplayer</string>
		<string>HD AVPlayerHD</string>
		<string>AVPlayer</string>
		<string>aceplayer</string>
		<string>tim</string>
		<string>qqpim</string>
		<string>boxsdk-srnspz7etrtko4y9u2tqcj8i8gzzqzm6</string>
		<string>daybox</string>
		<string>mindmeist</string>
		<string>db-2vxl8w8i8zibqzc</string>
		<string>snssdk1128</string>
		<string>kwai</string>
		<string>kfhxztravel</string>
		<string>tbopen</string>
		<string>wbmain</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>请求获取手机位置，以便精确定位</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>请求获取手机位置，以便精确定位</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>请求获取手机位置，以便精确定位</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>获取设备信息用以精准推送您喜欢的内容</string>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>58922NB4GD.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>KBD757YWX3.skadnetwork</string>
		</dict>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
